extends base

block content
    section.section-managerestaurant
            .card-container
                        each resto in restos
                            .card
                                .card__header
                                    .card__picture
                                        .card__picture-overlay &nbsp;
                                        img.card__picture-img(src=`/resto/${resto.imageCover}`, alt=`${resto.slug}`)
                                    h3.heading-tertirary
                                        span= resto.name

                                .card__details
                                    h4.card__sub-heading= `Contact: ${resto.contact}` 
                                    h4.card__sub-heading= `Description: ${resto.description}` 
                                    h4.card__sub-heading= `Price: ${resto.price}` 

                                    p.card__ratings
                                        span.card__footer-value= `${resto.ratingsAverage} rating`
                                        span.card__footer-text= `(${resto.ratingsQuantity})`
                                a.btn--red.btn--small( id="delete-resto" data-restoId=`${resto.id}`) Delete 